 #main {

    section.products {
        .container {
            
            p.under-text {
                font-size: 1.5em;
                padding-top: 0.5rem;
            }

            .products {
                img {
                    margin-bottom: 1rem;
                }
            }

        }
    }
    
    
}