form.form-search {
    padding-top: 2rem;
    input {
        width: 200px;
        height: 30px;
       outline: none;
       border: none;
       background-color: rgb(212, 209, 209);
       margin-bottom: 2rem;
       
    }
    
    button {
        width: 50px;
        height: 31px;
        border: none;
        color: #ffff;
        padding: 0px;
        margin-left: 5px;
        background-color: #617685;
    }
} 